@media (max-width: 576px) {
  .category-column {
    width: 49.9% !important;
    flex: 49.9% !important;

    .img-fluid {
      transform: scale(1.3) !important;
      max-width: 88.3%;
    }
  }
}

.category-column {
  padding: 3px;
}

@media (max-width: 768px) {
  .category-column {
    width: 34.9% !important;
    flex: 34% !important;

    img {
      transform: scale(1.2) !important;
      padding: 10px;
      height: 110px;
    }
  }
}