.accordion-header {
  border: 0 !important; // Çerçeveyi kaldır
  // ... existing code ...
  border-bottom: 1px solid rgb(197, 197, 197) !important;

  .accordion-body {
    border: 0px !important; // Çerçeveyi kaldır
  }
}
