.best_seller_column {
  flex: 16.5% !important;

  .best_seller-card {
    width: 320px !important;
    height: 365px !important;
    margin-bottom: 60px auto !important;
    text-align: center;
    border: 0px;
    text-align: center;

    &:hover {
      .best-seller-product-image {
        transform: scale(1.07);
        cursor: pointer;
      }
    }

    .best_seller-card-header {
      padding: 0 !important;
      border: none !important;
      width: 100% !important;
      position: relative;
      overflow: hidden;
    }

    .best_seller-card-body {
      border: 0px !important;
      padding: 12px;
    }

    .best-seller-product-price {
      color: red;
      font-size: 20px !important;
      font-weight: 600 !important;
    }

    .best_seller-card_name {
      font-size: 19px !important;
    }

    .best_seller-card_title {
      font-size: 13px !important;
      font-weight: 600 !important;
      margin: 0px;
    }
  }
}

.best-seller-product-image {
  transition: 0.3s ease-in-out;
  width: 180px;
  height: 180px;
  object-fit: cover;
}

@media (max-width: 576px) {
  .best_seller_column {
    flex: 43% !important;
    width: 43% !important;
    padding: 0px;

    .best_seller-card {
      margin: 3px;
      height: 450px !important;
      margin-bottom: 10px;
      background-color: transparent;

      .best-seller-product-image {
        width: 100% !important;
        height: 170px !important;
        object-fit: cover !important;
      }
    }

    .best_seller-card-header {
      padding: 3px !important;
    }
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .best_seller_column {
    width: 33% !important;
    flex: 33% !important;
    .best_seller-card {
      width: 260px !important;
      height: 250px !important;
      margin-bottom: 150px !important;
      .best-seller-product-image {
        max-width: 105% !important;
        height: 230px !important;
        object-fit: cover !important;
      }
    }
  }
}
