.product_list_card_column {
  flex: 16.5% !important;

  .product_list-card {
    width: 280px !important;
    height: 500px !important;
    margin: 20px auto;
    text-align: center;
    border: 0px;
    text-align: center;

    &:hover {
      .product_list-card-image {
        transform: scale(1.07);
        cursor: pointer !important;
      }
    }

    .product_list-card-header {
      padding: 0 !important;
      border: none !important;
      width: 100% !important;
      position: relative;
      overflow: hidden;
    }

    .product_list-card-body {
      border: 0px !important;
      padding: 12px;
    }

    .discounted-percentage {
      position: absolute !important;
      top: -10px !important;
      right: -20px;
      background-color: red !important;
      width: 65px !important;
      height: 45px;
      color: aliceblue !important;
      font-size: 15px;
      display: flex;
      z-index: 3050 !important;
      justify-content: center;
      font-weight: 400 !important;
    }

    .product_list-card-price {
      color: red;
      font-size: 20px !important;
      font-weight: 600 !important;
    }

    .product_list-card_name {
      font-size: 17.5px !important;
    }

    .product_list-card_title {
      font-size: 12px !important;
      font-weight: bold !important;
      margin: 0px;
    }
  }
}

.product_list-card-image {
  width: 270px !important;
  transition: transform 0.2s ease-out;
  height: 275px !important;
}

@media (max-width: 768px) {
  .product_list_card_column {
    flex: 49% !important;
    width: 49% !important;

    .product_list-card {
      width: 100% !important;
      margin: 0px auto;
      height: 450px !important;
    }

    .product_list-card-image {
      max-width: 100% !important;
      height: 220px !important;
      object-fit: cover;
    }
  }
}