.col-4 {
  height: 35px;
  font-size: 12px !important;

  span {
    font-size: 13.5px !important;

    strong {
      font-size: 14px !important;
    }
  }
}
@media (min-width: 768px) {
  #Nav {
    height: 50px;

    .col-4 {
      height: 45px;
      span {
        font-size: 10px !important;
      }
    }
  }
}
@media (max-width: 768px) {
  #NavDropdown,
  #Nav {
    display: none !important;
  }
}
